<% layout('layout') -%>
<h1>About</h1>
<p>This is a small project to demonstate how to connect to the nature.com API and parse the results. It uses node.js for the server side code, and Twitter Bootstrap for the responsive layout.</p>

